<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Welcome To Cody</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4" style="color: white">
        In Cody we give you the opportunity to solve problems
      </p>
      <div class="d-grid d-sm-flex justify-content-sm-center">
        <button
          type="button"
          class="btn btn-primary btn-lg px-4 me-sm-3 fw-bold"
        >
          join us
        </button>
        <button type="button" class="btn btn-light btn-lg px-4">
          read our plogs
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 py-5">
      <div class="display-5 fw-bold text-dark mb-2">about us</div>
      <p class="fs-5 mb-4">
        this is about us text and it should be long text so I am using lorem
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        excepturi quos velit? Beatae fugiat tenetur, maiores ea in corporis
        adipisci assumenda eveniet debitis nostrum. Et consequatur quia aliquid
        corporis praesentium, distinctio, saepe maxime perspiciatis quod magni
        cum ea nulla repudiandae iusto molestias sunt quaerat nisi voluptate
        suscipit ut quam? Ea, aliquam et animi maiores quo facilis ullam nostrum
        quidem perferendis error velit magni quod sapiente, modi fugit porro
        accusantium. Nam quod ipsum necessitatibus non ratione possimus omnis
        quo incidunt mollitia officia. Voluptatum mollitia, rem quo ratione
        adipisci accusamus ipsam iure facere optio dolore tenetur consequatur a
        omnis corporis culpa officiis!
      </p>
      <button class="btn btn-primary btn-lg px-4 me-sm-3 fw-bold">
        contact us
      </button>
    </div>
  </div>
</div>

<div class="bg-dark text-secondary px-4 py-5 text-secondary">
  <div class="container">
    <div class="row">
      <div class="col-12 py-5">
        <div class="display-5 fw-bold text-white mb-2">
          our most famous post
        </div>
        <app-post
          [post]="mostFamousPost"
          [withControlers]="false"
          [darkMode]="true"
        ></app-post>
        <button class="btn btn-primary btn-lg px-4 me-sm-3 fw-bold">
          read more programers posts
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container statistics">
  <div class="row justify-content-center align-items-stretch py-5">
    <div class="col-3">
      <div class="card h-100 justify-content-center text-center px-2 py-3">
        <span
          >more than
          <h1>100</h1>
          users</span
        >
      </div>
    </div>
    <div class="col-3">
      <div class="card h-100 justify-content-center text-center p-2">
        <span
          >more than
          <h1>3</h1>
          countries</span
        >
      </div>
    </div>
    <div class="col-3">
      <div class="card h-100 justify-content-center text-center p-2">
        <span
          >more than
          <h1>22</h1>
          colleges</span
        >
      </div>
    </div>
    <div class="col-3">
      <div class="card h-100 justify-content-center text-center p-2">
        <span
          >more than
          <h1>18</h1>
          contests</span
        >
      </div>
    </div>
  </div>
</div>
