<div class="container">
  <div class="row my-4">
    <div class="col" *ngIf="problem == undefined">
      <div class="text-center">
        No Problem Found!
        <a [routerLink]="['/']">GO HOME</a>
      </div>
    </div>

    <div class="col" *ngIf="problem">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a
            class="nav-link c-pointer"
            routerLinkActive="active"
            [routerLink]="['details']"
            [routerLinkActiveOptions]="{ exact: true }"
            >problem</a
          >
        </li>
        <li class="nav-item c-pointer">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['submit']"
            [routerLinkActiveOptions]="{ exact: true }"
            >submit</a
          >
        </li>
        <li class="nav-item c-pointer">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['solution']"
            [routerLinkActiveOptions]="{ exact: true }"
            >solution</a
          >
        </li>
      </ul>
      <h2 class="text-center text-capitalize mb-4">{{ problem.name }}</h2>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
