@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';

.c-pointer {
  cursor: pointer;
}

.monaco-editor {
  padding: 6px 0 !important;
}

.btn {
  text-transform: capitalize;
}
